/* GENERAL STYLES START*/
body {
	font-family: Arial, San_Serif;
	font-size: 100%;
	background: url(../images/background9.jpg) no-repeat center top / cover;
	/*background: url(../images/furniture1.jpg) no-repeat fixed 100% 100%;*/
	margin: 0; /* defoultni vidstupy */
	padding: 0;
}

div {
	box-sizing: border-box; /* padding doesen't count */
}

a {
	text-decoration: none; /* bez pidkreslennia */
	color: black;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto; /* po centri */
	background-color: white;
	width: 960px;
}

.clearafix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
/* GENERAL STYLES END */

/* HEADER START */
.heading {
	/*background: url(../images/background8.jpg) no-repeat center top / cover;*/
	background-color: #333a44;
	height: 50px;
	width: 960px;
	border: 1px solid grey;
	position: fixed;
	z-index: 9999;
}

nav {
	float: right;
}

.logo {
	width: 105px;
	height: 48px;
	float: left;
}

.menu_list {
	float: left;
	display: block;
	list-style-type: none;
	position: relative;
}

.menu a {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFF0;
}

.menu li {
	padding-top: 12px;
	padding-left: 10px;
	box-sizing: border-box; 
	display: block;
	height: 49px;
	width: 100px;
	margin-right: 5px;
}

.menu a:hover {
	color: #DCDCDC;
}
.menu li:hover {
	box-shadow: 10px 5px 5px black;
	transform: scale(1.05);
	border: 1px solid grey;
}

.menu_list:hover .submenu {
	opacity: 1;	
}

.submenu {
	position: absolute;
	margin-top: 15px;
	box-sizing: border-box; 
	float: left;
	opacity: 0;
}

.submenu li {
	padding-top: 10px;
	background-color: #333a44;
	height: 40px;
	width: 160px;
	border: 1px solid grey;
}

/* HEADER END */

/* MAIN SECTION START */
#main {
	background: url(../images/main_image.jpg) no-repeat center top / cover;
	height: 700px;
	padding-top: 50px;
}
/* MAIN SECTION END */

/* CATALOG START */
.catalog_info {
	display: block;
	padding: 50px 40px 0px 40px;
	text-align: center;
	font-size: 17px;
}
.furniture {
	height: 400px;
	padding-top: 40px;
}

.furniture img {
	height: 200px;
	width: 200px;
}

.furniture_section {
	width: 270px;
	height: 300px;
	float: left;
	text-align: center;
	font-size: 10px;
	margin-left: 40px;
	border: 1px solid grey;
	background: url(../images/background8.jpg) no-repeat center top / cover;
	transition: transform 0.5s;
}

.furniture_section:last-child {
	float: right;
	margin-left: 0px;
	margin-right: 35px;
}

.furniture_section:nth-child(2) {
	margin-left: 40px;
}

.furniture_section h2 {
	margin: 0 auto;
}

.furniture_section a {
	color: #DCDCDC;
}

.furniture_section a:hover {
	color: #A9A9A9;
} 

.furniture_section button {
	margin-top: 10px;
	background-color: #696969;
	height: 40px;
	width: 200px;
	border-radius: 10%;
}

.furniture_section button:hover {
	transform: scale(1.1);
}

.section_image {
	background-color: white;
	border: 1px solid grey;
	width: 240px;
	margin: 0 auto;
	margin-top: 30px;
	transition: transform 0.5s;
}

.section_image:hover {
	transform: scale(1.1);
}
/* CATALOG END */

/* ABOUT START */
.about {
	text-align: center;
	padding-top: 50px;
	padding-right: 150px;
	padding-left: 150px;
	padding-bottom: 0;
}

.about p {
	padding: 10px;
}

#about {
	height: 600px;
}

.bold {
	font-weight: bold;
}
/* ABOUT END */

/* CONTACTS START */
.contacts {
	text-align: center;
	padding-top: 50px;
	padding-right: 150px;
	padding-left: 150px;
	padding-bottom: 0;
}

.contacts p {
	padding: 10px;
}

#contacts {
	height: 600px;
}

.bold {
	font-weight: bold;
}

/* CONTACTS END */
#footer {
	height: 150px;
	background-color: #333a44;
	/*background: url(../images/background8.jpg) no-repeat center top / cover;*/
	border: 1px solid grey;
}

.footer {
	padding-top: 50px;
	color: #FFFFF0;
}

.footer_item {
	float: left;
	font-size: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer_item:last-child {
	float: right;
}


/* SOFAS START*/
.straight_sofas {
	height: 3200px;
}

.corner_sofas {
	height: 6300px;
}

.furniture_constriction {
	height: 300px;
}

.sofa_img {
	height: 300px;
	width: 300px;
}

.sofa_image {
	height: 300px;
	width: 320px;
	/*border: 1px solid grey;*/
}

.sofa_item {
	width: 400px;
	height: 330px;
	width: 50%;
	float: left;
	text-align: center;
	font-size: 10px;
	padding-left: 40px;
}

.sofa_item:last-child {
	float: right;
	padding-left: 0px; 
	padding-right: 35px;
}
/* SOFAS END*/


/*PRODUCT CARD START*/
.product_card {
	height: 960px;
}

.card_image {
	width: 600px;
	height: 600px;
}

.card {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	text-align: center;
}
/*PRODUCT CARD END*/